body {
  font-family: Arial,Helvetica,sans-serif;
  margin: 0;
  padding: 0;
}

body#selectra {
  background: repeat scroll 0 0 rgba(230, 230, 230, 1);
  color: #58585A;
}

.wrapper.kubbe {
  padding-top: 150px;
}

.alert#selectra {
  border-top: medium none;
  width: 400px;
  margin: 10px auto;
}

.container {
  border-top: medium none;
  margin: 0 auto;
  padding: 0;
}

.container#selectra {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 10px;
  margin: 0 auto;
  padding: 0;
  width: 400px;
	height: 155px;
}

.loginForm {
  margin: 0;
  padding: 20px 0;
}

.loginForm#selectra {
  padding: 5px 0;
}

.loginForm p {
  text-align: center;
  margin: 5px 0;
}

.loginForm:before, .loginForm:after {
  content: "";
  display: table;
}

.loginForm:after {
  clear: both;
}

.login h1 {
  background-color: #2C2C2C;
  background-image: -moz-linear-gradient(center top , #333333, #222222);
  background-repeat: repeat-x;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
  color: #F2F2F2;
  font-size: 18px;
  margin: 0;
  padding: 10px 20px;
  font-weight: bold;
}

.left {
  border-right: 1px dotted #333333;
  padding-right: 0;
}

.left p {
  text-align: center;
}

.right {
	padding-top: 60px;
	min-height: 310px;
}

.btn#selectra {
	width: 130px;
	height: 90px;
  background: #fff url('/images/btn.png') no-repeat center center;
  cursor: pointer;
	margin-top: 55px;
	border: none;
}

#logout {
  margin-top: -1px;
  background-image: url('/images/on.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 30px;
  padding: 0px;
}

#logout:hover {
  background-image: url('/images/off.png');
}

#logout > a {
  height: 25px;
  width: 25px;
  display: block;
}

.panel-title > a.users-filters {
  font-size: 14px;
}
